body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

.color-white {
    color: white;
}

.main-heading {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
}

.sub-heading {
    font-weight: 300;
    font-size: 42px;
}

.description {
    color: gray;
    font-size: 21px;
}